main {
    padding: 2rem;
}

.meal-list {
    background: #aaa;

    margin-bottom: 5rem;

    display: flex;
    padding: 1rem;
    justify-content: center;
}

.meal-list--entry {
    background: #eee;
    border: 1px solid #999;
    padding: 1rem;
    margin: 0 1rem;

    font-size: 10px;
    width: 150px;
}

.meal-plan {
    display: flex;
    justify-content: center;
}

.meal-plan--entry {
    flex-grow: 1;

    padding: 1rem;
    margin-right: 1rem;
}

.meal-plan--entry:last-child {
    margin-right: 0rem;
}

.meal-plan--entry h2 {
    text-align: center;
}

.meal-plan--entry--unassigned {
    border: 1px dashed #999;
}

.meal-plan--entry--dragging {
    background: yellow;
}

.meal-plan--entry-drop-zone {
    background: cyan;
    height: 200px;
}

.meal-plan--entry-drop-zone--hover {
    background: pink;
}

.meal-plan--entry-drop-zone--active {
    background: green;
}

.ingredients-list {
    margin-top: 5rem;
}